body{
    background-color: rgb(200, 229, 194);
    color: white ;
    }    
    a{
        color: rgb(36, 128, 48);
    }   
    h1{
        color: black;
        display: flex;
        height: 25vh;
        text-align: center;
        position: absolute;
        align-items: center;
        font-size: 180px; 
    }
    h3{
        text-align: center;
    }
    h2{
        color: black;
    }
    #contenido{
        width:1000px;
        margin:0 auto;
    }
    nav li{
        list-style: none;
        display: inline-block;
        padding: 0 auto;
        text-align: center;
    }
    ul{
        padding: 2px 450px;
        border-width: 4px;
        border-style: solid;
        border-color:#000;
        box-shadow: 0px 0px 20px rgb(31, 88, 34);
        list-style-position: inside;
    }
    section{
        padding:2px 197px;
        border-width: 4px;
        border-style: solid;
        border-color:#000;
        box-shadow: 0px 0px 20px rgb(31, 88, 34);
    }
    div{
        display: flex;
        justify-content:center;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    caption{
        color: black;
    }
    th{
        color: black;
    }
    table{
        width: 250px;
        border: 1px solid #000;
        align-items: center;
        justify-content:center;
        text-align: center;
        gap: 2000px;
    }
    td, th{
        border: 1px solid #000;
    }
    header{
        height: 475px;       
        display: flex;
        justify-content: center;
        background: url("../WEBmanuel/img/Logodefinitivo.png"); 
        background-repeat: no-repeat;
        background-size: cover;
    }     
    .Tabla{
        gap: 20px;

    }
    
    h3{
        color:#000
    }
    footer{
        width: 1353px;       
        margin: 10px auto; 
        padding: 20px;        
        border: 4px solid #000;
        box-shadow: 0px 0px 20px rgb(31, 88, 34);
        background-color: rgb(200, 229, 194); 
        text-align: center; 
    }
    .mapa_interactivo { 
        
        text-align: center; 
    }
        
    .foto{
        display: flex;
        justify-content: center;
    }
    
